/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";
@import "assets/css/base.css";
html,
body,
app-root,
.site {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
